body
{
	background: rgba(147,206,222,1);
background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
article
{
	padding:20px;
	boxsizing:border-box;
	margin: 0 15% 0 15%;
	background-color:white;
	border:1px solid black;
}

article a.button_new_subject
{
	margin:10px;
	width:100px;
	heignt:30px;
	display:block;
	background-color:#43D98B;
}

.my_category_field
{

	width:auto;
	background-color:#6BDCFF;
	margin-bottom:10px;
}

.my_category_field p.param_wrtite_user
{
	float:right;
	color:black;
}

.my_category_field a
{
	height:auto;
	display:block;
	width:auto;
	background-color:#6BDCFF;
	padding:10px;
	color:black;
}

.my_category_field a:hover
{
	text-decoration:none;
	background-color:#B1E0E6;
}


footer
{
	
}